.cardPosition{
    width: 500px;
    position: relative;
    left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}


.positionBoton{
    margin-top: 20px;
}

.positionBotonMas{
    margin-left: 20px;
    position: relative;
    top: 10px;
}