
.targetaProducto{
    display: inline-block;
    width: 500px;
    margin-left: 0.3%;
    padding: 3%;
    border: 2px solid black;
    position: relative;
    background-color: rgb(128, 181, 203);
    margin-top: 0;
}

.tituloProductos{
    font-size: 20px;
}

.DescripcionProdcto{
    font-size: 30px;
    text-align: center;
}