<<<<<<< HEAD
.targetaProducto{
    display: inline-block;
    width: 500px;
    margin-left: 0.3%;
    padding: 3%;
    border: 2px solid black;
    position: relative;
    background-color: rgb(186, 227, 221);
}

.tituloProductos{
    font-size: 20px;
}

.DescripcionProdcto{
    font-size: 30px;
    text-align: center;
=======
.targetaProducto{
    display: inline-block;
    width: 500px;
    margin-left: 0.3%;
    padding: 3%;
    border: 2px solid black;
    position: relative;
    background-color: rgb(186, 227, 221);
}

.tituloProductos{
    font-size: 20px;
}

.DescripcionProdcto{
    font-size: 30px;
    text-align: center;
>>>>>>> 639f766c2e6a6f932472f55206d3f8d2caa46c1e
}