.ubicacionBoton{
    margin-top: 40px;
    width: 400px;
    height: 50px;
    
}
.Compra{
    font-size: 70px;
}
.NumeroOrden{
    font-size: 30px;
}
.dispocion{
    margin-top: 200px;
    margin-bottom: 160px;
}
.Espacio{
    margin-bottom: 200px;
}
.Formulario{
    margin-top: 100px;
    width: 700px;
    position: relative;
    left: 300px;
}
.centrar{
    position: relative;
    left: 35%;
}