@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.fondoBarra{
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.454); 
}


.ubicacion-barraNav{
  padding: 10px;
  display: flex;
  margin-left: 14%;
}
.nav-item{
  padding-left: 90%;
}
.one:hover{
  background-color: rgb(255, 98, 0);
  border-radius: 30px;
}

.two:hover{
  background-color: chartreuse;
  border-radius: 30px;
}

.tree:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
}
.four:hover{
  background-color: rgb(113, 157, 227);
  border-radius: 30px;
}