@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.fondoBarra{
  background-color: rgba(0, 0, 0, 0.932);
}


.ubicacion-barraNav{
  padding: 10px;
  display: flex;
  margin-left: 14%;
}
.nav-item{
  padding-left: 90%;
}
