
.Contador{
    width: 150px;
    text-align: center;
    color: rgb(0, 0, 0);
    
}

.numberStock{
    font-size: 16px;
    padding: 15px;
    position: relative;
    bottom: 1px;
    
}

.comprar{
    position: relative;
    left: 100px;
    top: 38px;
    
}

.sumar{
    position: relative;
    bottom: 25px;
    margin-top: 50px;
}
.restar{
    position: relative;
    margin-top: 50px;
    bottom: 25px;

}